/*media queries*/
@media only screen and (min-width: 576px){
    .tamaño{ /*index y shop*/
        height: auto;
        width: 15.6rem;
    }
    .bestSellersLibros{
        width: 12.5rem;
        height: auto;
    }
    .row{
        .column{
            width: 50%;
            padding: 1.25rem;
        }
    }
    //blog
    .cuadro{
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 3.5rem;
        .cuadro__titulo {
            font-size:1.5rem;
            margin-bottom: 1.25rem;
        }      
        .cuadro__parrafo {
            line-height: 1.75rem;
            font-size:1rem;
        }
    }
    //blog2
    .contenedorBox{
        margin-left: 9.3rem;
    }
    .contenedorBox2{
        margin-left: 9.3rem;
    }
}

@media only screen and (min-width: 768px){
    .morkBookstoreTitulo{
        font-size: 4.5rem;
    }
    .logo{
        width: 12.5rem;
        height: auto;
    }
    .navHeader{
        li{
            a{
                font-size: 1.25rem; 
            }
        }
    }
    .mainBooks{
        h2{
            font-size: 3rem;
        }
        h3{
            font-size: 1rem;
        }
        .tamaño{
            img{
                width: 11.8rem;
                height: auto;
                padding: auto;
            }
        }
        .fondo1{
            width: 13.75rem;
        }
    }
    .row{
        .column{
            width: 25%;
            padding: 1.25rem;
        }
    }
    //blog
    .cuadro{
        div{
            padding-left: 13rem;
        }
    }
    //blog2
    .contenedorBox{
        margin-left: 1.25rem;
    }
    .contenedorBox2{
        margin-left: 1.25rem;
    }
    //about us
    .aboutUsContenedor{
        width: 90%;
        height: 75rem;
        padding-top: 3.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "header header header header"
        "main main empy empy"
        "footer footer footer footer";
        margin: auto;
        h2{
            text-align: center;
            font-size: 1.5rem;
            padding-top: 0.6rem;
            color: rgb(0, 0, 0);
            text-transform: capitalize;
        }
        p{
            color:black;
            padding: 0.3rem;
            font-size: 1.12rem;
        }
        .hijo{
            border: solid 1px black;
            padding: 5px;
            border-radius: 20px;
            margin: 5px;
        }
        .azul{
            background-color:#a6d0eb;
            grid-area: header;
        }
        .rosa{
            background-color: #fc7289;
            grid-area: main;
        }
        .violeta{
            background-color:  #c21090;
            grid-area: empy;
        }
        .verde{
            background-color:#397f47;
            grid-area: footer;
            img{
                width: 78rem;
                height: auto;
                display: block;
                align-self: center;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }
    }
}


