.formularios{
    background-color: #facacd;
    margin: 1rem;
    padding: 1rem;
    border-radius: 41px;
    h2{
        color: #fc7289;
        padding-left: 4.6rem;
    }
    .btn{
        background-color: #fc7289;
        color: #facacd;
        border: #fc7289;
        &:hover{
            background-color: #a6d0eb;
            color: #fc7289;
        }
    }
}