@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke;
  font-family: 'Sen', sans-serif; }

h1 {
  color: darkblue;
  font-family: 'Libre Baskerville', serif;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem; }

h2 {
  color: cornflowerblue;
  font-family: 'Sen', sans-serif;
  font-size: 2rem; }

.navHeader {
  background-color: #024672;
  width: 100%;
  margin-top: 0;
  border-radius: 1.25rem; }
  .navHeader ul {
    list-style-type: none;
    max-width: 62.5rem;
    margin: 2px auto; }
  .navHeader li {
    display: inline-block; }
    .navHeader li a {
      text-decoration: none;
      color: #a6d0eb;
      display: inline;
      width: 20%;
      position: relative;
      font-size: 1rem;
      padding: 0.6rem; }
      .navHeader li a:hover {
        background-color: #a6d0eb;
        color: hotpink; }

.morkBookstoreTitulo {
  font-family: 'Pridi', serif;
  color: #024672;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-top: 1.5rem;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 4.6rem;
  margin-bottom: 1.25rem; }

.carousel {
  background-color: #a6d0eb;
  border-radius: 38%;
  margin-top: 1.5rem; }

.mainBooks {
  display: flex; }
  .mainBooks h2 {
    font-size: 1.7rem;
    margin-left: 2.8rem;
    margin-top: 1.5rem;
    letter-spacing: 3px;
    color: #397f47; }
  .mainBooks .contenedor {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
  .mainBooks .tamaño {
    margin: 10px;
    padding: 10px; }
    .mainBooks .tamaño img {
      width: 7.5rem;
      height: auto;
      padding: 0.3rem;
      padding: auto; }
  .mainBooks .fondo1 {
    background-color: #a6d0eb;
    border: solid black;
    border-radius: 14%;
    display: inline-block;
    margin: 2rem;
    width: 9rem;
    height: auto; }
    .mainBooks .fondo1 h3 {
      font-family: 'Sen', sans-serif;
      font-size: 0.75rem;
      text-align: center;
      text-transform: capitalize; }

.row .column {
  float: left;
  padding: 0.6rem;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 0.75rem; }
  .row .column h3 {
    font-size: 1rem; }

.row .primera {
  background-color: #fc7289; }

.row .segunda {
  background-color: #facadf; }

.row .tercera {
  background-color: #fc7289; }

.row .cuarta {
  background-color: #facadf; }

footer .footerContenedor {
  background-color: #83b498;
  font-family: 'Sen', sans-serif;
  height: 6.5rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  footer .footerContenedor .footerDiv {
    width: 33%;
    text-align: center; }
    footer .footerContenedor .footerDiv .footerDiv__titulo {
      font-size: 0.8rem;
      padding-top: 0.75rem; }
    footer .footerContenedor .footerDiv .footerDiv__link {
      text-decoration: none;
      color: black;
      font-size: 0.75rem;
      padding-top: 0.75rem; }
      footer .footerContenedor .footerDiv .footerDiv__link:hover {
        color: #024672;
        font-weight: bold; }
    footer .footerContenedor .footerDiv .footerDiv__img .footerDiv__redes {
      width: 2rem; }
      footer .footerContenedor .footerDiv .footerDiv__img .footerDiv__redes:hover {
        width: 2.2rem; }

.aboutUsContenedor h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.6;
  color: black;
  text-transform: capitalize; }

.aboutUsContenedor p {
  color: black;
  padding: 5px;
  font-size: 1.1rem; }

.aboutUsContenedor .hijo {
  border: solid 1px black;
  padding: 5px;
  border-radius: 1.25rem;
  margin: 1rem; }

.aboutUsContenedor .azul {
  background-color: #a6d0eb; }

.aboutUsContenedor .rosa {
  background-color: #fc7289; }

.aboutUsContenedor .violeta {
  background-color: #c21090; }

.aboutUsContenedor .verde {
  background-color: #397f47; }
  .aboutUsContenedor .verde img {
    width: 14rem;
    height: auto;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-self: center;
    display: block;
    margin: auto;
    overflow: hidden; }

.formularios {
  background-color: #facacd;
  margin: 1rem;
  padding: 1rem;
  border-radius: 41px; }
  .formularios h2 {
    color: #fc7289;
    padding-left: 4.6rem; }
  .formularios .btn {
    background-color: #fc7289;
    color: #facacd;
    border: #fc7289; }
    .formularios .btn:hover {
      background-color: #a6d0eb;
      color: #fc7289; }

h2 {
  margin-left: 1.5rem; }

.accordion {
  width: 90%;
  margin-bottom: 2rem; }

.contenedorBlog {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }
  .contenedorBlog .cuadro, .contenedorBlog .cuadro2 {
    background-color: #facadf;
    border-radius: 14px;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem; }
    .contenedorBlog .cuadro .cuadro__titulo, .contenedorBlog .cuadro2 .cuadro__titulo {
      font-size: 1.5rem;
      margin-bottom: 1.25rem;
      text-align: center; }
    .contenedorBlog .cuadro .cuadro__parrafo, .contenedorBlog .cuadro2 .cuadro__parrafo {
      line-height: 1.75rem;
      font-size: 1rem; }
    .contenedorBlog .cuadro iframe, .contenedorBlog .cuadro2 iframe {
      width: 16rem;
      height: auto; }
  .contenedorBlog .cuadro2 {
    background-color: #fabe04; }
    .contenedorBlog .cuadro2 .cuadro2__img {
      width: 250px;
      height: auto;
      margin-right: 1.8rem; }
    .contenedorBlog .cuadro2 .boton {
      height: 3.75rem;
      padding: 1.25rem;
      background-color: #fc7289;
      color: white;
      display: inline-block;
      text-decoration: none; }
    .contenedorBlog .cuadro2 a {
      text-decoration: none; }
      .contenedorBlog .cuadro2 a:hover {
        font-weight: bold; }

.contenedorFirstBook, .contenedorWrite {
  max-width: 62.5rem;
  width: 90%;
  margin: 0 auto; }
  .contenedorFirstBook .firstBook, .contenedorWrite .firstBook {
    background-color: #9ec52e;
    border-radius: 14px;
    border: 3px black solid;
    padding: 1.25rem;
    margin-bottom: 3rem; }
    .contenedorFirstBook .firstBook .firstBook__titulo, .contenedorWrite .firstBook .firstBook__titulo {
      font-size: 1.5rem;
      margin-bottom: 1.25rem; }
    .contenedorFirstBook .firstBook .firstBook__parrafo, .contenedorWrite .firstBook .firstBook__parrafo {
      line-height: 1.75rem;
      font-size: 1rem; }
    .contenedorFirstBook .firstBook .firstBook__imagen, .contenedorWrite .firstBook .firstBook__imagen {
      width: 15.6rem;
      height: auto; }

.contenedorWrite .write {
  background-color: #a3e5ff;
  border-radius: 14px;
  border: 3px black solid;
  padding: 1.25rem;
  margin-bottom: 50px; }
  .contenedorWrite .write .write__titulo {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem; }
  .contenedorWrite .write .write__parrafo {
    line-height: 1.75rem;
    font-size: 1rem; }

.contenedorBox {
  height: 300px;
  width: 300px;
  margin-bottom: 1.25rem;
  margin-left: 2rem;
  padding: 0.6rem;
  text-align: center;
  border: solid black 3px;
  background-color: #397f47;
  display: flex;
  display: inline-block; }
  .contenedorBox .box__titulo {
    font-size: 1.5rem; }

.contenedorBox2 {
  height: 300px;
  width: 300px;
  margin-left: 2rem;
  margin-bottom: 1.25rem;
  padding: 0.6rem;
  text-align: center;
  border: solid black 3px;
  background-color: #397f47;
  display: flex;
  display: inline-block; }
  .contenedorBox2 .box2__titulo {
    font-size: 1.5rem; }

/*media queries*/
@media only screen and (min-width: 576px) {
  .tamaño {
    /*index y shop*/
    height: auto;
    width: 15.6rem; }
  .bestSellersLibros {
    width: 12.5rem;
    height: auto; }
  .row .column {
    width: 50%;
    padding: 1.25rem; }
  .cuadro, .contenedorBlog .cuadro2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3.5rem; }
    .cuadro .cuadro__titulo, .contenedorBlog .cuadro2 .cuadro__titulo {
      font-size: 1.5rem;
      margin-bottom: 1.25rem; }
    .cuadro .cuadro__parrafo, .contenedorBlog .cuadro2 .cuadro__parrafo {
      line-height: 1.75rem;
      font-size: 1rem; }
  .contenedorBox {
    margin-left: 9.3rem; }
  .contenedorBox2 {
    margin-left: 9.3rem; } }

@media only screen and (min-width: 768px) {
  .morkBookstoreTitulo {
    font-size: 4.5rem; }
  .logo {
    width: 12.5rem;
    height: auto; }
  .navHeader li a {
    font-size: 1.25rem; }
  .mainBooks h2 {
    font-size: 3rem; }
  .mainBooks h3 {
    font-size: 1rem; }
  .mainBooks .tamaño img {
    width: 11.8rem;
    height: auto;
    padding: auto; }
  .mainBooks .fondo1 {
    width: 13.75rem; }
  .row .column {
    width: 25%;
    padding: 1.25rem; }
  .cuadro div, .contenedorBlog .cuadro2 div {
    padding-left: 13rem; }
  .contenedorBox {
    max-width: 62.5rem;
    width: 90%;
    margin-left: 16rem;
    margin-bottom: 3rem;
    border-radius: 14px; }
    .contenedorBox .box {
      padding: 1.25rem;
      margin-bottom: 3rem; }
  .contenedorBox2 {
    max-width: 62.5rem;
    width: 90%;
    margin-left: 16rem;
    margin-bottom: 3rem;
    border-radius: 14px; }
    .contenedorBox2 .box2 {
      padding: 1.25rem;
      margin-bottom: 3rem; }
  .aboutUsContenedor {
    width: 90%;
    height: 75rem;
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header" "main main empy empy" "footer footer footer footer";
    margin: auto; }
    .aboutUsContenedor h2 {
      text-align: center;
      font-size: 1.5rem;
      padding-top: 0.6rem;
      color: black;
      text-transform: capitalize; }
    .aboutUsContenedor p {
      color: black;
      padding: 0.3rem;
      font-size: 1.12rem; }
    .aboutUsContenedor .hijo {
      border: solid 1px black;
      padding: 5px;
      border-radius: 20px;
      margin: 5px; }
    .aboutUsContenedor .azul {
      background-color: #a6d0eb;
      grid-area: header; }
    .aboutUsContenedor .rosa {
      background-color: #fc7289;
      grid-area: main; }
    .aboutUsContenedor .violeta {
      background-color: #c21090;
      grid-area: empy; }
    .aboutUsContenedor .verde {
      background-color: #397f47;
      grid-area: footer; }
      .aboutUsContenedor .verde img {
        width: 78rem;
        height: auto;
        display: block;
        align-self: center;
        padding-top: 2rem;
        padding-bottom: 2rem; } }
