@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke;
  font-family: 'Sen', sans-serif; }

h1 {
  color: darkblue;
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 15px; }

h2 {
  color: cornflowerblue;
  font-family: 'Sen', sans-serif;
  font-size: 2.5rem; }

.navHeader {
  background-color: #024672;
  width: 100%;
  margin-top: 0;
  border-radius: 20px; }
  .navHeader ul {
    list-style-type: none;
    max-width: 1000px;
    margin: 2px auto; }
  .navHeader li {
    display: inline-block; }
    .navHeader li a {
      text-decoration: none;
      color: #a6d0eb;
      display: inline;
      width: 20%;
      position: relative;
      font-size: 15px;
      padding: 10px; }
      .navHeader li a:hover {
        background-color: #a6d0eb;
        color: hotpink; }

.morkBookstoreTitulo {
  font-family: 'Pridi', serif;
  color: #024672;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 25px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  /*titulo*/
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 250px;
  margin-bottom: 20px; }

.carousel {
  background-color: #a6d0eb;
  border-radius: 38%;
  margin-top: 25px; }

.mainIndex {
  display: flex; }
  .mainIndex h2 {
    font-size: 55px;
    margin-left: 45px;
    margin-top: 25px;
    letter-spacing: 3px;
    color: #397f47; }
  .mainIndex .contenedor {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
  .mainIndex .tamaño {
    margin: 10px;
    padding: 10px; }
    .mainIndex .tamaño img {
      width: 200px;
      height: auto;
      padding: 5px;
      padding-left: 50px; }
  .mainIndex .fondo1 {
    background-color: #a6d0eb;
    border: solid black;
    border-radius: 14%;
    display: inline-block;
    margin: 35px;
    width: 275px;
    height: auto; }
    .mainIndex .fondo1 h3 {
      font-family: 'Sen', sans-serif;
      font-size: 17px;
      text-align: center;
      text-transform: capitalize; }

.row .column {
  float: left;
  padding: 10px;
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
  font-size: 12px; }
  .row .column h3 {
    font-size: 15px; }

.row .primera {
  background-color: #fc7289; }

.row .segunda {
  background-color: #facadf; }

.row .tercera {
  background-color: #fc7289; }

.row .cuarta {
  background-color: #facadf; }

footer .footerContenedor {
  background-color: #83b498;
  font-family: 'Sen', sans-serif;
  height: 105px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  footer .footerContenedor .footerDiv {
    width: 33%;
    text-align: center; }
    footer .footerContenedor .footerDiv .footerDiv__titulo {
      font-size: 14px;
      padding-top: 12px; }
    footer .footerContenedor .footerDiv .footerDiv__link {
      text-decoration: none;
      color: black;
      font-size: 12px;
      padding-top: 12px; }
      footer .footerContenedor .footerDiv .footerDiv__link:hover {
        color: #024672;
        font-weight: bold; }
    footer .footerContenedor .footerDiv .footerDiv__img .footerDiv__redes {
      width: 32px; }
      footer .footerContenedor .footerDiv .footerDiv__img .footerDiv__redes:hover {
        width: 38px; }

.contenedorBooks {
  background-color: #facacd;
  border-radius: 41px;
  border: black solid 2px;
  margin: 30px; }
  .contenedorBooks .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
  .contenedorBooks .tamaño {
    margin: 10px;
    padding: 10px; }
    .contenedorBooks .tamaño img {
      width: 200px;
      height: auto;
      padding: 5px;
      padding-left: 50px; }
  .contenedorBooks .fondo1 {
    background-color: #a6d0eb;
    border: solid black;
    border-radius: 14%;
    display: inline-block;
    margin: 35px;
    width: 275px;
    height: auto; }
    .contenedorBooks .fondo1 h3 {
      font-family: 'Sen', sans-serif;
      font-size: 17px;
      text-align: center;
      text-transform: capitalize; }

.books h2 {
  font-size: 55px;
  margin-left: 45px;
  margin-top: 25px;
  letter-spacing: 3px;
  color: #397f47; }

.aboutUsContenedor {
  width: 90%;
  height: 1800px;
  padding-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header header" "main main empy empy" "footer footer footer footer";
  margin: auto; }
  .aboutUsContenedor h2 {
    text-align: center;
    padding: 40px;
    color: black;
    text-transform: capitalize; }
  .aboutUsContenedor p {
    color: black;
    padding: 35px;
    font-size: 20px; }
  .aboutUsContenedor img {
    width: 1200px;
    display: block;
    margin: auto;
    padding-top: 35px; }
  .aboutUsContenedor .hijo {
    border: solid 1px black;
    padding: 5px;
    border-radius: 20px;
    margin: 5px; }
  .aboutUsContenedor .azul {
    background-color: #a6d0eb;
    grid-area: header; }
  .aboutUsContenedor .rosa {
    background-color: #fc7289;
    grid-area: main; }
    .aboutUsContenedor .rosa img {
      height: auto;
      width: 100px; }
  .aboutUsContenedor .violeta {
    background-color: #c21090;
    grid-area: empy; }
  .aboutUsContenedor .verde {
    background-color: #397f47;
    grid-area: footer; }
    .aboutUsContenedor .verde img {
      width: 1250px;
      height: auto;
      display: block;
      align-self: center; }

.formularios {
  background-color: #facacd;
  margin: 15px;
  padding: 15px;
  border-radius: 41px; }
  .formularios h2 {
    color: #fc7289;
    padding-left: 75px; }
  .formularios .btn {
    background-color: #fc7289;
    color: #facacd;
    border: #fc7289; }
    .formularios .btn:hover {
      background-color: #a6d0eb;
      color: #fc7289; }

h2 {
  margin-left: 25px; }

.accordion {
  width: 90%;
  margin-bottom: 35px; }

.contenedorBlog {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }
  .contenedorBlog .cuadro, .contenedorBlog .cuadro2 {
    background-color: #facadf;
    border-radius: 14px;
    padding-left: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 50px; }
    .contenedorBlog .cuadro .cuadro__titulo, .contenedorBlog .cuadro2 .cuadro__titulo {
      font-size: 1.5rem;
      margin-bottom: 20px; }
    .contenedorBlog .cuadro .cuadro__parrafo, .contenedorBlog .cuadro2 .cuadro__parrafo {
      line-height: 28px;
      font-size: 1rem; }
  .contenedorBlog .cuadro2 {
    background-color: #fabe04; }
    .contenedorBlog .cuadro2 .cuadro2__img {
      width: 250px;
      height: auto;
      margin-right: 30px; }
    .contenedorBlog .cuadro2 .boton {
      height: 60px;
      padding: 20px;
      background-color: #fc7289;
      color: white;
      display: inline-block;
      text-decoration: none; }
    .contenedorBlog .cuadro2 a {
      text-decoration: none; }
      .contenedorBlog .cuadro2 a:hover {
        font-weight: bold; }

.contenedorFirstBook, .contenedorWrite {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }
  .contenedorFirstBook .firstBook, .contenedorWrite .firstBook {
    background-color: #9ec52e;
    border-radius: 14px;
    border: 3px black solid;
    padding: 20px;
    margin-bottom: 50px; }
    .contenedorFirstBook .firstBook .firstBook__titulo, .contenedorWrite .firstBook .firstBook__titulo {
      font-size: 1.5rem;
      margin-bottom: 20px; }
    .contenedorFirstBook .firstBook .firstBook__parrafo, .contenedorWrite .firstBook .firstBook__parrafo {
      line-height: 28px;
      font-size: 1rem; }
    .contenedorFirstBook .firstBook .firstBook__imagen, .contenedorWrite .firstBook .firstBook__imagen {
      width: 250px;
      height: auto; }

.contenedorWrite .write {
  background-color: #a3e5ff;
  border-radius: 14px;
  border: 3px black solid;
  padding: 20px;
  margin-bottom: 50px; }
  .contenedorWrite .write .write__titulo {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px; }
  .contenedorWrite .write .write__parrafo {
    line-height: 28px;
    font-size: 1rem; }

.contenedorBox {
  height: 350px;
  width: 350px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  border: solid black 3px;
  background-color: #397f47;
  display: flex;
  display: inline-block; }

.contenedorBox2 {
  height: 350px;
  width: 350px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  border: solid black 3px;
  background-color: #397f47;
  display: flex;
  display: inline-block; }

/*media queries*/
@media only screen and (min-width: 576px) {
  .tamaño {
    /*index y shop*/
    height: auto;
    width: 250px; }
  .bestSellersLibros {
    width: 200px;
    height: auto; }
  .row .column {
    width: 50%;
    padding: 20px; } }

@media only screen and (min-width: 768px) {
  .morkBookstoreTitulo {
    font-size: 4.5rem; }
  .logo {
    width: 200px;
    height: auto; }
  .navHeader li a {
    font-size: 20px; }
  .bestSellers h2 {
    font-size: 3rem; }
  .bestSellers h3 {
    font-size: 15px; }
  .bestSellers .tamaño img {
    width: 190px;
    height: auto;
    padding: auto; }
  .row .column {
    width: 25%;
    padding: 20px; } }
